<!DOCTYPE html>
<html lang="en">

<head>
    <link href="assets\style.css" rel="stylesheet" type="text/css"></link>
    <meta charset="UTF-8">
    <table></table>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <% include partials/nav.ejs %>

        <h1>Welcome to the most awesome website</h1>
        <p>It's the best</p>
        <p>Are u Ready</p>
</body>

</html>